/Java projects/Bacis Tetris/nbproject/private/
/Java projects/Bacis Tetris/build/
/Java projects/Bacis Tetris/dist/
/Java projects/Game Of Life/nbproject/private/
/Java projects/JavaApplication23/nbproject/private/
/Java projects/Game Of Life/build/
/Java projects/Game Of Life/dist/